.latestNewsContainer {
  background-color: var(--primary-contrast);
}

.latestNewsContainer :is(h2) {
  padding: 1em
}

.latestNewsCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.videoPanel {
  background-color: var(--primary-dark);
}

.videoPanel :is(h2) {
  padding: 1em
}

.videoPanel :is(p) {
  margin: 0;
  padding: 0 1em 1em
}