.socialMenuContainer {
  background: var(--primary-dark);
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.socialMenuContainer a {
  color: var(--primary-contrast-light);
  font-family: var(--font-headers-and-butts);
  font-size: 1.25em;
  text-decoration: none;
}

.socialMenuIcons {
  display: flex;
  justify-content: space-between;
  width: 200px;
}