.jumbotronContainerLandscape {
  align-items: center;
  display: flex;
}

.jumbotronContainerPortrait {
  align-items: center;
  display: flex;
}

.jumbotronContainerLandscape :is(img) {
  object-fit:cover;
  width: 50%;
}

.jumbotronContainerPortrait :is(img) {
  object-fit: scale-down;
  width: 50%;
}

.jumbotronLandscapeText {
  max-width: 50%;
}

.jumbotronPortraitText {
  max-width: 50%;
}

.jumbotronText {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
}

.jumbotronText :is(p) {
  margin-block: 0;
  padding: 0.5em 0;
}

@media screen and (max-width: 1000px) {
  .jumbotronContainerLandscape {
    display: flex;
    flex-direction: column;
  }

  .jumbotronContainerLandscape :is(img) {
    height: fit-content;
    object-fit: scale-down;
    width: 100%
  }

  .jumbotronLandscapeText {
    max-width: none;
  }
}

@media screen and (max-width: 800px) {
  .jumbotronContainerPortrait {
    display: flex;
    flex-direction: column;
  }

  .jumbotronContainerPortrait :is(img) {
    object-fit: scale-down;
    width: 100%
  }

  .jumbotronPortraitText {
    max-width: none;
  }
}