.jumbotronContainer {
  align-items: center;
  display: flex;
}

.jumbotronContainer img {
  object-fit: scale-down;
  height: fit-content;
  width: 50%;
}

.jumbotronText {
  display: flex;
  flex-direction: column;
  padding: 0.5em 2em;
}

.jumbotronText p {
  margin-block: 0;
  padding: 0.5em 0;
}

@media screen and (max-width: 512px) {
  .jumbotronContainer {
    display: flex;
    flex-direction: column;
  }

  .jumbotronContainer img {
    object-fit: scale-down;
    height: fit-content;
    width: 100%;
  }
  .jumbotronText {
    padding: 0.5em 1em;
  }
}