.brandname {
	order: 1;
	flex-direction: column;
	display: flex;
	justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}
.headerContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.logo {
  order: 0;
	display: block;
	margin: auto;
	width: 200px;
}

/*Reorders logo and title off phone*/
@media screen and (min-width: 769px) {
	.brandname {
		order: 0;
		width: 60%;
	}
	.logo {
		order: 1;
	}
}
