.playerCard {
  background-color: red;
  border-radius: 0.5em;
  box-shadow:4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
  margin: auto;
  max-width: 250px;
  padding: 0.5em;
}

.playerCardText p {
  color: white;
}

.playerFlagPosition {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* .playerFlagPosition img {
  border: 1px solid black;
} */

.playerNameText {
  background-color: yellow;
  border-radius: 0.5em;
  bottom: 8px;
  box-sizing: border-box;
  left: 8px;
  padding: 4px;
  position: absolute;
  width: calc(100% - 16px);
}

.playerNameText p {
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.playerPhoto {
  position: relative;
  width: 225px;
}