.footer {
	display: block;
	text-align: center;
	margin: auto;
  padding-top: 1em;
	width: 60%;
}
.footerLogo {
	display: block;
	margin: 0 auto;
	max-height: 150px;
	max-width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
