.brandname {
	order: 1;
	flex-direction: column;
	display: flex;
	justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}
.headerContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.logo {
  order: 0;
	display: block;
	margin: auto;
}
.logo img {
  margin: auto;
  max-height: var(--logo-mobile-height);
	max-width: var(--logo-mobile-height);
  min-width: 150px;
  min-height: 150px;
}

/*Reorders logo and title off phone*/
@media screen and (min-width: 769px) {
	.brandname {
		order: 0;
		width: 60%;
	}
	.logo {
		order: 1;
	}
	.logo img {
		max-height: var(--logo-desktop-height);
		max-width: var(--logo-desktop-height);
	}
}
