.newsCardContainer {
  background-color: var(--primary-dark);
  border-radius: 0.5em;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0);
  margin-bottom: 1em;
  max-width: 356px;
  padding: 1em;
  position: relative;
}

.newsCardLeftRibbon {
  background-color: var(--primary-contrast);
  top: 1em;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  font-weight: 800;
  margin-top: 0.5em;
  padding: 0.5em 1.5em 0.5em 0.5em;
  position: absolute;
  left: 0.5em;
}

.newsCardRightRibbon {
  background-color: var(--primary-contrast);
  bottom: 1em;
  clip-path: polygon(1.5em 0, 100% 0, 100% 100%, 0 100%);
  margin-bottom: 0.5em;
  padding: 0.5em 0.5em 0.5em 1.5em;
  position: absolute;
  right: 0.5em;
  text-align: right;
  width: 280px;
}

.newsCardRightRibbon :is(a) {
  color: black;
  font-size: 1;
  font-weight: 700;
}